/*here we go!!!*/
.webforminput{
    box-shadow: 0 0 0;
    margin-bottom: 0;
    border: 1px solid #c9dce4;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2% 1%;
    font-weight: 500;
    font-size: 17px;
}
.content-area{
    width: 100%;
    padding: 2% 0!important;
}

.content-area form{
    background: #f8fdff;
    padding: 3%;
    width: 50%;
}
.content-area form .form-group{
    margin-bottom: 15px;
}
.webformlabel{
    font-weight: 500;
    font-size: 14px;
    color: #6a8290;
    display: block;
}
.submitbutton{
    margin: 0!important;
}

.form-area-maximizer {
  width: 50%!important;
}
.maximizer-validator{
    display: inline!important;
}
span .wpcf7-not-valid-tip{
    display: none!important;
}
.wpcf7-response-output{
    display: none!important;
}